@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
	--dark: ☐ #000;
	--light: #f9f4eb;
	--light2: #f0ece5;
	--accent-1: #e5d9f6;
	--accent-2: #ffd2f3;
	--accent-3: #fcdca6;
}
